body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

.todo-container {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 75%;
}

button {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.is-done {
    text-decoration: line-through;
    color: #999;
}

li button {
    background-color: #dc3545;
    padding: 5px 10px;
}